@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Test Project</h1>
    <p class="lead">Welcome to Test Project. Bon voyage mon ami.</p>
    <p><a href="http://localhost:57636/Home" class="btn btn-primary btn-lg">Test Project &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            This is Test Project. Hope you enjoy your stay here.
        </p>
        <p><a class="btn btn-default" href="http://localhost:57636/Home">Test Project &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>See our Makes</h2>
        <p>Check out these Vehicle Makes</p>
        <p><a class="btn btn-default" href="http://localhost:57636/VehicleMake/Index">Vehicle Makes &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>See our Models</h2>
        <p>Let's go shopping! These prices are insane!!!</p>
        <p><a class="btn btn-default" href="http://localhost:57636/VehicleModel/Index">Vehicle Models &raquo;</a></p>
    </div>
</div>